.fruits{
    border: 2px solid #b50a51;
    text-align: center;
    padding: 15px;
    margin: 15px;
    color: rebeccapurple;
}
.cars{
    border: 3px double #06389f;
    text-align: -moz-left;
    padding-bottom: 30px;
    margin: 20px;
    color: red;
}
.Cars{
    border: 5px dotted green;
    text-align: center;
    padding: 25px;
    margin: 20px;
    color: darkblue;
}
#school{
    border: 5px dotted green;
    text-align: center;
    padding: 25px;
    margin: 20px;
    color: darkblue;
}
.classform{
    text-align: center;
    color: darkmagenta;
background-color: slateblue;
    display: inline-block;
   margin-left: 40%;
    padding-left: 10px;
    border-radius: 15px;
}